.recipe {
    background-color: #f0f8ff;
}
.eggs {
    background-color: #fafad2;
}
.tea {
    background-color: #faebd7;
}
.toast {
    background-color: #ffebcd;
}
a {
    font-family: "Brush Script MT";
}
h1 {
    font-family: Georgia;
    text-decoration: underline;
}
h2 {
    font-family: Helvetica;
}
h3 {
    font-family: Verdana;
}
ul {
    font-family: tahoma;
}
ol {
    font-family: "courier new";
}